body {
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  background-color: #f8f3ec;
}

.navbar .container-fluid {
  border-bottom: 1px solid #6e6e6e;
}

.navbar-brand {
  margin-left: -140px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
}

.navbar-brand span {
  color: #f6d88c;
}

.social-links img {
  width: 25%;
  height: auto;
}

/*----------------------------------------------------------*/
.front-page {
  background-color: #f8f3ec;
  padding-top: 60px;
}

.front-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-header h4 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

.front-text P {
  font-size: 22px;
}

.front-button {
  background-color: #f6d88c;
  font-weight: 700;
  padding: 10px 16px;

  transition: background-color 0.3s linear;
}

.front-button:hover {
  background-color: #d2ba7d;
}

.front-rating {
  font-size: 12px;
  line-height: 1;
}

.front-rating p {
  margin: 0;
}

.front-rating span {
  font-size: 18px;
  font-weight: 600;
}

.front-images {
  display: flex;
}

.front-images img {
  height: 85%;
  width: auto;
}

.front-images .front-img:first-child {
  margin-right: 25px;
}

/*----------------------------------------------------------*/
.trusted-by {
  padding-top: 90px;
  padding-bottom: 180px;
}

.trusted-holder {
  display: flex;
  justify-content: center;
}

.trusted-item1 {
  padding-left: 20px;
  border-left: 4px solid #f6d88c;
}

.trusted-title h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}

.trusted-text p {
  font-size: 22px;
}

.trusted-item2 .trusted-image {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: 1px solid rgba(46, 77, 89, 0.1);
  margin: 0 10px 10px 0;
}

.trusted-item2 .trusted-image img {
  width: 60%;
  height: auto;
}

/*---------------------------------------------------------------*/

.next-level {
  background-color: #181817;
  height: 100vh;
  color: white;
  padding-top: 118px;
  padding-bottom: 100px;
}

.next-holder {
  display: flex;
  justify-content: center;
}

.img-holder {
  position: relative;
}

.nextlevel1 {
  height: 448px;
}

.img-holder .nextlevel-img2 {
  position: absolute;
  top: 109px;
  left: 238px;
}

.nextlevel2 {
  height: 291px;
}

.next-text {
  margin-left: -125px;
}

.next-header {
  margin-bottom: 10px;
}

.next-points {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.next-points .point {
  display: flex;
  align-items: center;
}

.next-points .check {
  margin-right: 4px;
}

.next-points .check img {
  width: 80%;
}

.next-button {
  font-weight: 700;
  padding: 10px 16px;
  margin-left: 12px;
  background-color: white;
  border-radius: 10px;
}

/*----------------------------------------------------------*/
.video-section {
  background-image: url("../img/video-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
}

.play {
  display: flex;
  justify-content: center;
}

.play img {
  width: 80px;
}

/*----------------------------------------------------------*/
.provide-section {
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: #f8f3ec;
}

.provide-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.provide-inner {
  display: flex;
  justify-content: center;
}

.provide-header h2 {
  font-size: 32px;
  font-weight: 600;
}

.provide-card {
  background-color: #eae4dc;
  padding: 28px 33px;
  width: 95%;
}

.provide-inner .provide-card-holder:first-child img {
  padding-bottom: 13px;
}

.provide-inner .provide-card-holder:nth-child(2) img {
  padding-bottom: 4px;
}

.provide-card h3 {
  font-weight: 600;
}

.provide-card p {
  line-height: 1.1;
}

.provide-card span {
  text-decoration: underline;
  font-weight: 600;
}

/*----------------------------------------------------------*/
.feedback-section {
  margin: 90px 0 100px 0;
}

.feedback {
  display: flex;
  align-items: center;
}

.rating span {
  font-weight: 600;
}

.feedback-holder h4 {
  font-size: 32px;
  font-weight: 500;
}

.customer {
  display: flex;
}

.customer img {
  width: 54px;
  height: 54px;
  margin-right: 15px;
}

.customer p {
  font-size: 22px;
}

.customer p > span {
  font-weight: 500;
}

.feedback-range {
  display: flex;
  justify-content: end;
}

.feedback .col-5 img {
  height: 394px;
}

/*----------------------------------------------------------*/
.ready-banner {
  background-image: url("../img/ready-mask.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #181817;
  padding: 110px 0;
  color: white;
}

.ready-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ready-holder h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.ready-holder p {
  font-size: 22px;
  margin-bottom: 50px;
}

.ready-button {
  background-color: #f6d88c;
  font-weight: 700;
  width: 150px;
  padding: 10px 16px;

  transition: background-color 0.3s linear;
}

.ready-button:hover {
  background-color: #d2ba7d;
}

/*----------------------------------------------------------*/
.blogs-section {
  margin: 160px 0;
}

.blogs-title h2 {
  font-size: 40px;
  font-weight: 600;
  padding-left: 0;
}

.blogs-button {
  font-weight: 700;
  padding: 10px 20px;
  background-color: #181817;
  border-radius: 10px;
  color: #f6d88c;
  transition: linear 0.3s background-color;
}

.blogs-button:hover {
  color: #f6d88c;
  background-color: #181817;
}

.blogs-header {
  margin-bottom: 60px;
}

.blogs-holder {
  display: flex;
  justify-content: center;
}

.blogs-holder .blogs-blog {
  display: flex;
  flex-direction: column;
}

.blogs-holder .blogs-blog img {
  max-width: 500px;
  margin-bottom: 12px;
}

.blog-date {
  font-size: 16px;
  font-weight: 600;
  color: #f29764;
}

.blogs-holder .blogs-blog h3 {
  font-weight: 600;
}

.blog-read {
  text-decoration: underline;
  font-weight: 600;
}

/*----------------------------------------------------------*/
.footer {
  background-color: #181817;
  color: white;
}

.footer-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-header {
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.footer-header h3 {
  font-size: 30px;
  font-weight: 700;
}

.footer-header h3 > span {
  color: #f6d88c;
}

.footer-social-links img {
  margin-right: 20px;
}

.footer-subscribe {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.footer-subscribe h2 {
  font-size: 40px;
  font-weight: 600;
}

.footer-subscribe p {
  margin-bottom: 50px;
}

.input-group {
  justify-content: center;
}

.input-group input {
  background-color: #181817;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
  width: 50%;
  padding: 15px 20px;
}

.input-group a {
  text-decoration: none;
}

.input-group-text {
  background-color: #181817;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  color: #f6d88c;
  padding: 17px 20px;
  font-weight: 600;
}

.footer-contacts {
  display: flex;
  justify-content: center;
}

.footer-contacts .footer-contact:last-child {
  margin-left: 50px;
}

.footer-contacts p:first-child {
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 0;
}

.footer-contacts p:nth-child(2) {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.footer-info p {
  opacity: 0.3;
}

/********MEDIA****QUERIES************/

@media (max-width: 1200px) {
  .front-images {
    display: flex;
  }

  .front-images {
    margin-left: 0;
  }
  .front-images img {
    height: 75%;
  }

  .nextlevel-img2 img {
    display: block;
  }

  .img-holder .nextlevel-img2 {
    left: 178px;
  }

  .footer-contacts .footer-contact:last-child {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-bottom: 0;
  }

  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .social-links {
    width: 129px;
    padding-top: 15px;
  }

  .container-fluid {
    padding-bottom: 10px;
  }

  .front-holder {
    align-items: normal;
    padding-bottom: 60px;
  }

  .front-header h4 {
    font-size: 34px;
  }

  .front-text P {
    font-size: 20px;
  }

  .front-images {
    display: none;
  }

  .trusted-by {
    padding-bottom: 90px;
  }

  .trusted-item1 {
    padding-left: 0;
    border-left: none;
    text-align: center;
    margin-bottom: 40px;
  }

  .next-holder {
    justify-content: space-between;
  }

  .next-header h2 {
    font-size: 26px;
  }

  .nextlevel-img2 img {
    display: none;
  }

  .provide-card-holder {
    margin-bottom: 20px;
  }

  .provide-card {
    /* width: 50%; */
    margin: 0 auto;
  }

  .provide-card h3 > br {
    display: none;
  }

  .ready-holder h1 {
    font-size: 40px;
  }

  .blogs-blog {
    padding-left: 0;
    margin-left: 25px;
    margin-bottom: 40px;
  }

  .blogs-read-button {
    margin-left: 8.333333335%;
  }

  .footer-contacts .footer-contact:last-child {
    margin-left: 0;
  }

  .footer-info div:nth-child(2) {
    margin-left: 0;
  }

  .footer-info div > p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-bottom: 0;
  }

  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .social-links {
    width: 129px;
    padding-top: 15px;
  }

  .front-images {
    display: none;
  }

  .front-header h4 {
    font-size: 30px;
  }

  .img-holder {
    display: none;
  }

  .next-level {
    padding-top: 128px;
  }

  .next-holder {
    justify-content: center;
  }

  .next-text {
    margin-left: 0;
  }

  .next-button {
    width: 30%;
    margin: 0 auto;
  }

  .provide-card {
    width: 70%;
  }

  .feedback-image {
    display: none;
  }

  .ready-holder p > br {
    display: none;
  }

  .blogs-blog img {
    width: 80%;
  }

  .blogs-blog p {
    width: 80%;
  }

  .blogs-blog p > br {
    display: none;
  }

  .footer-subscribe h2 {
    font-size: 34px;
  }

  .footer-contacts {
    text-align: center;
  }

  .footer-contacts p:nth-child(2) {
    font-size: 22px;
  }

  .footer-info div:nth-child(1) {
    margin-left: 0;
  }
}

@media (width: 768px) {
  .next-text {
    width: 60%;
  }

  .next-button {
    width: 100%;
    margin-left: 106px;
  }

  .provide-inner {
    flex-direction: column;
  }

  .provide-card-holder {
    width: 70%;
    margin-left: 110px;
  }

  .feedback {
    justify-content: center;
  }

  .feedback-holder {
    width: 83%;
  }

  .feedback-image {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar-nav {
    margin-bottom: 0;
  }

  .navbar-brand {
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .social-links {
    width: 129px;
    padding-top: 15px;
  }

  .front-images {
    display: none;
  }

  .front-info2,
  .front-rating {
    display: none;
  }

  .trusted-item1 {
    text-align: left;
  }

  .trusted-item2 .row {
    display: flex;
    justify-content: center;
  }

  .trusted-invisible {
    display: none;
  }

  .img-holder {
    display: none;
  }

  .next-text {
    margin-left: 0;
  }

  .next-header,
  .next-points,
  .next-p-holder {
    margin: 0 auto;
  }

  .next-points {
    padding-bottom: 10px;
  }

  .next-button {
    width: 50%;
    margin: 0 auto;
  }

  .video-section {
    height: 300px;
  }

  .play img {
    width: 66px;
  }

  .provide-header {
    width: 70%;
    text-align: left;
    margin-left: 15%;
  }

  .provide-header h2 {
    font-size: 30px;
  }

  .provide-header p > br {
    display: none;
  }

  .provide-card {
    width: 70%;
  }

  .feedback {
    justify-content: center;
  }

  .feedback-image {
    display: none;
  }

  .feedback-holder h4 {
    font-size: 27px;
  }

  .ready-holder {
    width: 80%;
    margin-left: 10%;
  }

  .ready-holder h1 {
    font-size: 30px;
  }

  .ready-holder p {
    font-size: 20px;
  }
  .ready-holder p > br {
    display: none;
  }

  .blogs-section {
    margin: 80px 0;
  }

  .blogs-title h2 {
    font-size: 30px;
  }

  .blogs-title,
  .blogs-header div:first-child,
  .blogs-read-button {
    margin-left: 4.1666666675%;
  }

  .footer-subscribe h2 {
    font-size: 30px;
  }

  .input-group input {
    padding: 15px 14px;
  }

  .footer-contacts {
    text-align: center;
  }
}
